@font-face {
    font-family: IranSansX;
    src: url("../fonts/IRANSansX-Regular.woff2");
}
*{
    font-family: IranSansX;
}

.bg-green{
    background-color: #459C98;
}
.nav-link{
    margin-inline: 8px;

}

.nav-link:hover{
    background-color:#fcba03 !important;
}

label{
    margin-top: 7px;
    margin-bottom: 7px;
}

button:hover{
    background-color: #459C98 !important;
}

.alert-success{
    background-color: #18BB9C !important;
}
.alert-danger{
    background-color: #EF5041 !important;
}
.bg-purple{
    background-color: #7E30E1;
}
.btn-purple{
    background-color: #7E30E1;
    color: white;
    border-color:#7E30E1 ;
}
.btn-purple:hover{
    background-color: #FCBA03 !important;
    color: white;
}
